DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
NUXT_SESSION_PASSWORD=
DEPLOYMENT=curl -v -X POST -u "$user:password" -H "Content-Type: application/zip" --data-binary "@.output/app.zip" "https://site.scm.azurewebsites.net/api/zipdeploy?deployer=push&skipCleanup=true"